.topic1 {

    font-family: "Poppins", sans-serif;
    color: #000000;
    font-weight: 600;
    font-size: 60px;

    




}

.btn {
    margin-top: 3%;
    margin-left: 28%;
    text-transform: uppercase !important;
    font-weight: 700;
  }
  .topic-name1 {
    font-family: "Poppins", sans-serif;
    margin-left: 28%;
    margin-top: 20%;
 
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 14px;
    
  }
  
  .topic1 {
    margin-left: 28%;
    margin-top: 2%;
    
  }

  .text1 {
    margin-left: 28%;
    margin-top: 3%;
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
  }
  
  

   

    
    