.header {
    padding-top: 0;
    padding-bottom: 0;   
}

.header > .row {
    margin-top: 0;
    margin-bottom: 0;
}

.header .header-content {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header .logo {
    margin-right: auto;
}

.main-nav {
    display: flex;
    gap: 1.6em;
}

.main-nav > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #222;
    font-weight: 500;
    font-size: 13px;
    
}

.main-nav > a:hover {
    color: #8490ff;
    transition: all 0.5s;
}

.main-nav > a:first-of-type {
    color: #8490ff;
}

.hamburger {
    font-size: 24px;
    border: none;
    background: transparent;
    position: absolute;
    top: -15;
    right: 0;
    margin-right: 15px;
    cursor: pointer;
}