/* base */
@import '../base/base.css';
@import '../base/layout.css';
@import '../components/text-styles.css';
@import '../commponents/header.css';
@import '../components/counter.css';
@import '../components/button.css';
@import '../components/plans.css';


/* 3rd-party */

/* components */

/* CUSTOM STYLE */

/* header: start */
/* header: end */

/* hero: start */
/* hero: end */

/* about me: start */
.about-me-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.topic-name {
    font-weight: 400;
    font-size: 14px;
    color: #222222;
}

/* about me: end */

/* My Offered Services: start */
/* My Offered Services: end */

/* Blue section count: start */
/* Blue section count: end */

/* Our Latest Featured Projects: start */
/* Our Latest Featured Projects: end */

/* Client’s Feedback About Me: start */
/* Client’s Feedback About Me: end */

/* Latest Posts From Our Blog: start */
/* Latest Posts From Our Blog: end */

/* Blue labels section: start */
h3 {
    text-transform: capitalize;
    font-size: 36px;
}

p {
    color: rgb(119, 119, 119);
    font-size: 14px;
}
/* Blue labels section: end */

/* Choose Your Plan: start */
h4 {
    text-transform: capitalize;
    font-size: 18px;
}
/* Choose Your Plan: end */

/* footer: start */
/* footer: end */