/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../commponents/header.css';
@import '../components/button.css';
@import '../components/my-offered-services.css';
@import '../components/plans.css';
@import '../components/header.css';
@import '../components/counter.css';
@import '../components/button.css';
@import '../components/footer.css';

/* CUSTOM STYLE */

/* header: start */
/* header: end */

/* hero: start */
.hero-section {
    background-color: #F9F9FF;
    margin-top: 40px;
    padding-bottom: 0;
}
.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: baseline;
    gap: 20px;
}
.hero-section .topic-name {
    font-size: 14px;
    font-weight: 400;
    color: #222222;
    letter-spacing: 2px;
    margin-top: 140px;
}
.hero-section .topic-big {
    font-size: 60px;
    font-weight: 600;
    color: #222222;
}

/* hero: end */

/* about me: start */
.about-me-section {
    padding-bottom: 0;
}
.about-me-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.topic-name {
    font-weight: 400;
    font-size: 14px;
    color: #222222;
}

/* about me: end */

/* My Offered Services: start */
/* My Offered Services: end */

/* Blue section count: start */
/* Blue section count: end */

/* Our Latest Featured Projects: start */

.future-projects > .topic {
    text-align: center;
    margin-bottom: 20px;
}
.future-projects > .text {
    text-align: center;
}
.vectors{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.vector {
   text-align: center;
   color: #222;
   font-size: 12px;
   font-weight: 500;
   margin-top: 40px;
   text-decoration: none;
   cursor: pointer;
}
.vector:hover {
    color: #8490ff;
}
.pic-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.gallery-img {
    max-width: 100%;
    max-height: 100%;
}
.gallery-description {
    text-align: center;
    padding: 20px 0px;
}
.gallery-description > h4 {
    color: #222222;
    font-size: 18px;
    font-weight: 600;
}
.gallery-description > div {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
}
@media (max-width: 425px) {
    .pic-wrap > img {
        height: auto;
        width: 90%;
    }
    .vectors {
        flex-wrap: wrap;
        gap: 0px 20px;
    }
}

/* Our Latest Featured Projects: end */

/* Client’s Feedback About Me: start */
.clients-feedback {
    background-color: #F9F9FF;
}
.clients-feedback-topic > h2,
.clients-feedback-topic > p {
    text-align: center;
}
.clients-feedback-topic > p{
    margin-top: 20px;
}
.blocks {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.block {
    background-color: white;
    padding: 30px;
    padding-left: 100px;
    position: relative;
}
.block > img {
    position: absolute;
    width: 40px;
    left: 30px;
}
.block > .a {
    margin-bottom: 20px;
}
.block > .b {
    margin-top: 10px;
}
.block > a {
    font-size: 18px;
    color: #222222;
    font-weight: 600;
    text-decoration: none;
}
.block > a:hover {
    color: #8490ff;
}
.arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clients-feedback button {
    width: 50px;
    height: 50px;
    background-color: white;
    border: none;
    cursor: pointer;
}
.clients-feedback button:hover {
    background-color: #8490ff;
}
.clients-feedback button > a {
    color: #777777;
    text-decoration: none;
    font-size: 20px;
}
@media (max-width: 1005px) {
    .blocks {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .arrow {
        display: flex;
        flex-direction: row;
    }
}

/* Client’s Feedback About Me: end */

/* Latest Posts From Our Blog: start */
.blog .container {
    background-color: #f9f9ff;
    padding: 120px 0px 120px 0px;
}

.blog-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    margin-left: -15px;
    margin-right: -15px;
    --w: 760px;
    width: var(--w);
    margin: 0 calc((100% - var(--w)) / 2);
    padding: 0px 15px 30px 15px;
}

.blog-title > h2 {
    text-align: center;
    margin-bottom: 25px;
}

.blog-title > p {
    color: rgb(119, 119, 119);
    margin-bottom: 45px;
    text-align: center;
}

.blog-pages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    --w: 1170px;
    width: var(--w);
    margin: 0 calc((100% - var(--w)) / 2);
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
}

.part-of-blog {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 100%;
    cursor: pointer;
}

.part-of-blog:hover > .text-title > a {
    color: #8490ff;
    transition: 0.3s;
}

.blog-image {
    position: relative;
    overflow: hidden;
}

.blog-image > img {
    overflow: hidden;
}

.part-of-blog:hover .blog-image > img {
    transform: scale(1.05);
    transition: 0.5s;
}

.part-of-blog .blog-image > img {
    max-width: 100%;
    max-height: 100%;
}

.part-of-blog .text-title {
    margin-top: 35px;
    line-height: 1.2em;
}

.part-of-blog .text-title > a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #222222;
    line-height: 1.2em;
}

.part-of-blog ::selection {
    background-color: #8490ff;
    color: white;
}

.part-of-blog .text-parag {
    margin-top: 15px;
    margin-bottom: 45px;
}

.blog-writer {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-weight: 300;
    line-height: 22.75px;
}

.blog-writer > a {
    margin-left: 10px;
    text-align: left;
}

.blog-info {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-weight: 300;
    color: #777777;
}

.blog-info > a {
    margin-left: 15px;
    margin-right: 2px;
    font-size: 14px;
}

.about-blog {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.about-blog .blog-writer > a {
    text-decoration: none;
    color: #222222;
    font-size: 14px;
}

.about-blog .blog-info > a {
    text-decoration: none;
    color: #222222;
}

@media (max-width: 1199px) {
    .blog-title {
        --w: 640px;
    }
    .blog-pages {
        --w: 990px;
    }
}

@media (max-width: 991px) {
    .blog-title {
        --w: 480px;
    }
    .blog-pages {
        --w: 750px;
    }
    .about-blog {
        flex-wrap: wrap;
    }
    .about-blog > .blog-info {
        padding-top: 20px;
    }
}

@media (max-width: 767px) {
    .blog .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .blog-title {
        --w: 540px;
    }
    .blog-pages {
        --w: 570px;
        grid-template-columns: 1fr;
    }
    .part-of-blog {
        margin-bottom: 30px;
    }
    .blog-pages .blog-image > img {
        width: 100%;
    }
    .about-blog > .blog-info {
        padding-top: 0;
    }
}

@media (max-width: 576px) {
    .blog .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .blog-title {
        --w: 323px;
    }
    .blog-pages {
        --w: 353px;
        grid-template-columns: 1fr;
    }
    .part-of-blog {
        margin-bottom: 30px;
    }
    .blog-pages .blog-image > img {
        width: 100%;
    }
    .about-blog > .blog-info {
        padding-top: 0;
    }
}

@media (max-width: 320px) {
    .blog-title {
        --w: 303px;
    }
    .blog-pages {
        --w: 333px;
        grid-template-columns: 1fr;
    }
    .part-of-blog {
        margin-bottom: 30px;
    }
}
/* Latest Posts From Our Blog: end */

/* Blue labels section: start */
.blue-labels {
    background: -webkit-linear-gradient(0deg, rgb(132, 144, 255) 0%, rgb(98, 189, 252) 100%);
    padding: 30px 0;
}
.blue-row .blue-content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
}
.blue-content > img{
    opacity: 0.5;
    cursor: pointer;
}
.blue-content > img:hover{
    opacity: 1;
}

/* Blue labels section: end */

/* Choose Your Plan: start */

/* Choose Your Plan: end */

/* footer: start */
/* footer: end */